<?xml version="1.0" encoding="UTF-8"?>
<jobs>
  <%- @jobs.select(&:valid?).each do |job| -%>
    <job>
      <reference><%= job.id %></reference>
      <title><%= job.remote? ? "Remote " : nil %><%= job.role %></title>
      <company><%= job.company %></company>
      <%- if job.company_url -%>
      <company_url><%= job.company_url %></company_url>
      <%- end -%>
      <%- if job.apply_url -%>
        <url><%= job.apply_url %></url>
      <%- elsif job.apply_email -%>
        <email><%= job.apply_email %></email>
      <%- end  -%>
      <location><%= job.location %></location>
      <description><%= h job.formatted_description %></description>
    </job>
  <%- end -%>
</jobs>
