<?xml version="1.0" encoding="UTF-8"?>
<jobs>
  <%- if @debug -%>
    <counts>
      <% @jobs.group_by(&:role).sort_by { |_, group| -group.length }.each do |role, group| %>
        <count>
          <role><%= role %></role>
          <total><%= group.length %></total>
        </count>
      <% end %>
      <% @jobs.group_by(&:location).sort_by { |_, group| -group.length }.each do |location, group| %>
        <count>
          <location><%= location %></location>
          <total><%= group.length %></total>
        </count>
      <% end %>
      <count>
        <name>Total</name>
        <total><%= @jobs.length %></total>
      </count>
    </counts>
  <%- end -%>
  <%- @jobs.each do |job| -%>
    <job>
      <reference><%= job.id %></reference>
      <title><%= job.role %></title>
      <company><%= job.company %></company>
      <%- if job.company_url -%>
      <company_url><%= job.company_url %></company_url>
      <%- end -%>
      <%- if job.apply_email -%>
      <email><%= job.apply_email %></email>
      <%- end -%>
      <%- if job.apply_url -%>
      <url><%= job.apply_url %></url>
      <%- end -%>
      <location><%= job.location %></location>
      <description><%= job.sanitized_description %></description>
    </job>
  <%- end -%>
</jobs>
